
# data directories
data/pdbstyle-2.07
data/targets
test_ss/CASP11
test_ss/CB513

# big data files from astral
data/astral-rapid-access-2.07-stable.raf
data/astral-scopedom-seqres-gd-*

# big data files from pdb
data/entries.idx

# build ignores
dl-mgr/target/
py_ck/__pycache__/
py_ck/checkpoints/
py_pp/__pycache__/
py_pp/checkpoints/
py_ss/__pycache__/
py_ss/checkpoints/

# copied data files
py_ck/*.txt
py_pp/*.txt
py_ss/*.txt

# file types
**/*.swp
**/*.tar
**/*.pdf
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.idx
**/*.log
**/nohup.out

# eclim
**/workbench.xmi
dl-mgr/.settings/
dl-mgr/.classpath
dl-mgr/.project
dl-mgr/.gitignore

