
# data directories
train/pdbstyle-2.07
test_ss/CASP11
test_ss/CB513

# big data files from astral
train/astral-rapid-access-2.07-stable.raf
train/astral-scopedom-seqres-gd-all-2.07-stable.fa

# big data files from pdb
train/entries.idx

# build ignores
dl-mgr/target/
py/__pycache__/

# file types
**/*.swp
**/*.tar
**/*.pdf
**/*.aux
**/*.out
**/*.bbl
**/*.blg
**/*.dvi
**/*.idx
**/*.log
**/nohup.out

# eclim
**/workbench.xmi
dl-mgr/.settings/
dl-mgr/.classpath
dl-mgr/.project
dl-mgr/.gitignore

